<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>8-Bit Inventory Launchpad</title>
    <script src="jquery.min.js" charset="utf-8"></script>
    <script src="client.js" charset="utf-8"></script>
  </head>
  <body>
    <h1>8-Bit Inventory Launchpad</h1>
    <input type="text" id='nameIn' placeholder ='name of item here...'>
    <select id="colorIn" name="colors">
      <option value='red'>Red</option>
      <option value="orange">Orange</option>
      <option value="green">Green</option>
      <option value="mermaid treasure">Mermaid Treasure</option>
      <option value="blue">Blue</option>
      <option value="purple">Purple</option>
    </select>
    <select id="sizeIn" name="size">
      <option value="small">Small</option>
      <option value="medium">Medium</option>
      <option value="large">Large</option>
    </select>
    <button type="submit" id='submit'>Submit</button>
  </body>
</html>
